<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property resource="config/application-${spring.profiles.active}.properties"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%yellow(%date) %highlight(%level) %magenta([%thread]) %cyan(%logger{35}) %cyan(%line) - %msg%n%ex{full}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%date %level [%thread] %logger{35} %line - %msg%n%ex{full}-=-AppLog-=-%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/uadmin/logs/midnight-club-server/application.log.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="org.springframework" level="${logging.level.org}"/>
    <logger name="org.apache" level="${logging.level.org}"/>

    <root level="${logging.level.root}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
